/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.navbar
  background-color: #C9CAD9

.home
  background-color: #C9CAD9

html
  background-color: #C9CAD9

.links
  background-color: #C9CAD9 !important

.theme-container
  background-color: #C9CAD9

.sidebar
  background-color: #C9CAD9